
{{> head}}


    
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1> Prueba de about con imagen </h1>
    </div>
    <div class="col-4">
        <img src="assets/img/bootstrap-social.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}